asgiref==3.7.2
Brotli==1.1.0
certifi==2023.11.17
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cssselect2==0.7.0
Django==5.0
django-admin-thumbnails==0.2.8
django-mathfilters==1.0.0
django-session-timeout==0.1.0
django-wkhtmltopdf==3.4.0
et-xmlfile==1.1.0
fonttools==4.47.0
html5lib==1.1
idna==3.6
openpyxl==3.1.2
Pillow==10.1.0
pycparser==2.21
pydyf==0.8.0
pyphen==0.14.0
python-decouple==3.8
reportlab==4.0.8
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tinycss2==1.2.1
typing_extensions==4.9.0
tzdata==2023.3
urllib3==2.1.0
webcolors==1.13
webencodings==0.5.1
whitenoise==6.6.0
zopfli==0.2.3
